cat > ios/.gitignore << 'EOF'
**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
*.xcuserstate
**/.generated/
**/Flutter/Generated.xcconfig
**/Flutter/ephemeral/
**/Flutter/App.framework
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/Flutter/Generated.xcconfig
Pods/
*.xcworkspace
!default.xcworkspace
EOF